.img {
    max-width: 50vw;
    max-height: 50vh;
}

.keyNumber {
    color: var(--color-button-3);
    font-size: 10em;
    line-height: 1;
}

.keyAdvantages {
    max-width: 60vw;
    display: flex;
    justify-content: space-between;
}

.keyAdvantages>* {
    margin: 0 7%;
}


.subParentSection {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
}

.ul {
    list-style-type: "+ ";
    margin-bottom: 20%;
}


.subSection {
    display: flex;
    min-height: max-content;
    /* height: 60vh; */
    width: 25vw;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
    border-radius: 20px;
    background-color: var(--color-button-secondary-3);
    color: var(--color-workflow-background);
    flex-direction: column;
    transition: all .2s;
}

.subSection>h3 {
    justify-content: center;
    text-align: center;
}

.subSection>button {
    width: 100%;
    margin-top: auto;
}

.subPrice {
    font-weight: 700;
    font-size: 2.5em;
    /* color: #ffffff; */
}


.subSection.base {
    background-color: white;
    color: black;
}

.subSection.plus {
    background-color: #008A61;
    color: #ffffff;
}

.subSection.prem {
    /* background: rgb(255, 240, 18);
    background: linear-gradient(153deg, rgba(255, 240, 18, 1) 0%, rgba(255, 235, 50, 1) 17%, rgba(149, 0, 255, 1) 94%); */
    background: rgb(173, 166, 54);
    background: linear-gradient(153deg, rgba(173, 166, 54, 1) 0%, rgba(185, 170, 37, 1) 17%, rgba(149, 0, 255, 1) 94%);
    color: #ffffff;
}


@media (max-width: 1200px) {
    .sectionText>p {
        text-align: justify;
        justify-content: center;
        align-items: center;
    }

    .img {
        max-width: 100vw;
        max-height: 100vh;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .keyNumber {
        font-size: 5em;
    }

    .subParentSection {
        display: grid;
    }

    .subSection {
        width: 80vw;
        margin: 10px 0;
    }
}