header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    width: 100vw;
    padding: 15px 5%;
    /* border-bottom: 2px solid #e8e9eb; */
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .5s cubic-bezier(.44, .44, 0, 1);
    transition: -webkit-transform .5s cubic-bezier(.44, .44, 0, 1);
    transition: transform .5s cubic-bezier(.44, .44, 0, 1);
    transition: transform .5s cubic-bezier(.44, .44, 0, 1), -webkit-transform .5s cubic-bezier(.44, .44, 0, 1);
    will-change: transform;

    background: #ace5ff2d;
    backdrop-filter: blur(11.050000190734863px);

    display: flex;
    justify-content: space-between;
    height: var(--navbar-heihgt);
    min-height: 60px;
}

.actions {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .actions>* {
    margin: 0 3%;
    width: fit-content;
    flex-wrap: wrap;
    color: var(--color-workflow-color);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-workflow-color);
}

.logo img {
    width: 40px;
    height: 40px;
}

.logoImg {
    margin: 0 5px;
}

.burgerActions {
    display: none;
}

.linkAuth {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    .actions {
        display: none;
        justify-content: none;
        align-items: none;
    }

    .linkAuth {
        display: none;
    }

    .burgerActions {
        display: flex;
    }

    .header {
        height: var(--navbar-heihgt) !important;
    }

    .logo img {
        width: 2vh !important;
        height: 2vh !important;
    }

    .logoImg {
        display: none;
    }
}