.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    width: 100vw;
    padding: 10px;
    /* border-bottom: 2px solid #e8e9eb; */
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .5s cubic-bezier(.44, .44, 0, 1);
    transition: -webkit-transform .5s cubic-bezier(.44, .44, 0, 1);
    transition: transform .5s cubic-bezier(.44, .44, 0, 1);
    transition: transform .5s cubic-bezier(.44, .44, 0, 1), -webkit-transform .5s cubic-bezier(.44, .44, 0, 1);
    will-change: transform;

    background: #00000000;
    backdrop-filter: blur(11.050000190734863px);

    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;

    font-size: 1.4em;
}

.logo img {
    width: 50px;
    height: 50px;

    margin: 5px;
}

.keyboard {
    /* width: 30%; */
}

.header .keyboard > a.navlink {
    color: var(--color-workflow-color);
    margin: 0 5%;
}


@media (max-width: 1200px) {
    .header {
        display: block;
    }

    .logo {
        font-size: .6em;
    }

    .logo img {
        width: 3em;
        height: 3em;
    }
}