.img {
    max-width: 50vw;
    max-height: 50vh;
}


@media (max-width: 1200px) {
    .img {
        max-width: 100vw;
        max-height: 100vh;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}