.img {
    max-width: 50vw;
    max-height: 50vh;
}

.keyNumber {
    color: var(--color-button-3);
    font-size: 10em;
    line-height: 1;
}

.keyAdvantages {
    max-width: 60vw;
    display: flex;
    justify-content: space-between;
}

.keyAdvantages > * {
    margin: 0 7%;
}


.btns {
    display: flex;
    flex-wrap: wrap;
}

.btns > * {
    margin-top: 15px;
    margin-right: 15px;
}


@media (max-width: 1200px) {
    .img {
        max-width: 100vw;
        max-height: 100vh;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .keyNumber {
        font-size: 5em;
    }

    .btns {
        display: grid;
    }

    .btns > * {
        margin-top: 15px;
        width: 100%!important;
    }

    .flexBtns {
        width: 100%!important
    }
}