.section {
    display: flex;
    user-select: none;

    /* background-image: url("../../images/backgroundImage.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    width: 100vw;

    justify-content: center;
    align-items: center;
    margin: auto;
}

.section>div {
    min-width: 40%;
    margin: auto 10%;
}

.img {
    max-width: 50vw;
    max-height: 50vh;
}

.sectionText {
    /* height: 100vh; */
    /* min-height: 30vh; */
    height: max-content;
    width: 100vw;

    justify-content: center;
    align-items: center;
    margin: 5vh auto;
    /* margin-top: 5%; */
}

.sectionText > * {
    min-width: 40%;
    margin: auto 10%;
}

@media (max-width: 1200px) {
    .sectionText > p {
        text-align: justify;
        justify-content: center;
        align-items: center;
    }

    .sectionText {
        text-align: justify;
    }

    .img {
        max-width: 100vw;
        max-height: 100vh;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .keyNumber {
        font-size: 5em;
    }

    .section {
        display: block;
    }

    .section>* {
        text-align: center;
        justify-content: center;
    }

    .section button {
        text-align: center;
        justify-content: center;
    }

    h1 {
        font-size: 2em;
    }
}