:root {
    --color-background-footer: #008CB8;
}


.footer {
    width: 100vw;
    height: 33vh;
    padding: 30px;

    background-color: var(--color-background-footer);
    color: var(--color-workflow-background);
}

.footer > ul {
    width: 50%;
    margin: 0 5%;
    list-style-type: none;
}
