:root {
    --color-success: #24a52b;
}


.badgesDiv {
    display: flex;
    flex-wrap: wrap;
}


.badge {
    display: flex;
    border: 1px solid #009dff;
    border-radius: 10px;
    max-width: fit-content;
    padding: 5px 15px;
    margin-right: 5px;
    transition: all .5s ease-out;
    color: #009dff;
    margin-top: 10px;
}

.badge:hover {
    background-color: rgba(0, 208, 255, 0.177);
}


.badge.positive {
    border: 1px solid #00ff59;
    color: rgb(49, 189, 145);
}
.badge.positive:hover {
    background-color: rgba(51, 255, 0, 0.177);
}

.badge.negative {
    border: 1px solid #ff0000;
    color: rgb(189, 49, 49);
}
.badge.negative:hover {
    background-color: rgba(255, 0, 0, 0.177);
}

.badge.warning {
    border: 1px solid #f6ff00;
    color: rgb(187, 167, 85);
}
.badge.warning:hover {
    background-color: rgba(255, 225, 0, 0.177);
}