@font-face {
    font-family: 'Play-Regular';
    src: url('../public/fonts/Play/Play-Regular.ttf');
}

@font-face {
    font-family: 'Play-Bold';
    src: url('../public/fonts/Play/Play-Bold.ttf');
}

@font-face {
    font-family: 'Manrope';
    src: url('../public/fonts/Manrope/Manrope-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url('../public/fonts/Rubik/Rubik-Regular.ttf');
}

:root {
    --color-workflow-background: #EAE9E8;
    --color-workflow-color: #0C0101;

    --navbar-heihgt: 6vh;

    --fontStack-header-sansSerif: -apple-system, BlinkMacSystemFont, 'Play-Regular', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --fontStack-sansSerif: -apple-system, BlinkMacSystemFont, 'Rubik-Regular', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* Общие стили для полосы прокрутки */
::-webkit-scrollbar {
    width: 6px;
}

/* Дорожка прокрутки */
::-webkit-scrollbar-track {
    background-color: inherit;
    /* Светлый оттенок цвета cyan */
}

/* Блок, по которому можно прокручивать */
::-webkit-scrollbar-thumb {
    background-color: #69afc6;
    /* Цвет cyan */
    border-radius: 6px;
    /* border: 3px solid #f0f8ff; */
    /* Цвет фона дорожки */
}

/* Кнопка прокрутки в начало/конец */
::-webkit-scrollbar-button {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* justify-content: space-between; */
}


body {
    color: var(--color-workflow-color);
    font-family: var(--fontStack-sansSerif);
    background-color: var(--color-workflow-background);
    overflow-x: hidden;
    font-size: 20px;
    user-select: none;

    margin: var(--navbar-heihgt) 0!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fontStack-header-sansSerif);
}

h1 {
    font-size: 4em;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    color: #00465b;
    text-decoration: none;
    transition: all .2s;
}
a.w {
    color: white;
}

a:hover {
    color: #00546d;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
    list-style: none;
}

/**
   Упрощаем работу с изображениями
  */
img {
    display: block;
    max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
    height: 100%;
    /**
     Плавный скролл
    */
    scroll-behavior: smooth;
}

body {
    /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
    min-height: 100%;
    /**
     Унифицированный интерлиньяж
    */
    line-height: 1.5;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


.layout {
    background: var(--color-bg-grey-1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* 100% высоты видимой области */
}